.sp-work {
  text-align: center;
  padding: 5rem 0 10rem;

  &__title {
  }

  &__list {
    &__item {
      display: inline-block;
      position: relative;
      transition: all 500ms ease;

      &:hover {
        transform: scale(1.1);
      }
    }
    h2.sp-work__list__item:hover ~ h3.sp-work__list__item {
      transform: translateY(30px);
      background-color: $dark;
      color: $white;
      padding: 2px 10px;
    }
  }
}

body.dark {
  .sp-work {
    &__title {
    }

    &__list {
      &__item {
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0;
          @extend .bg-dark;
          mix-blend-mode: difference;

          transition: all 600ms ease;
        }

        &:hover {
          transform: scale(1.1);
  
          &::after {
            height: 50%;
          }
        }
      }
    }
  }
}
